<div class="mt-3">
    <button routerLink="/customer/new" type="button" class="btn btn-primary mb-3">Add New Customer</button>
</div>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr [routerLink]="['customers/'+item.id]" *ngFor="let item of customers; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>